.container {
    width: 100%;
    flex-grow: 1;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
    overflow-x: auto;

}

.grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
}

@media (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.text-center {
    text-align: center;
}

.font-bold {
    font-weight: 700;
}

.w-half {
    width: 50%;
}

.w-full {
    width: 100%;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-1 {
    flex-grow: 1;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.gap-2 {
    gap: 8px;
}

.mb-1 {
    margin-bottom: 4px;
}

.mb-2 {
    margin-bottom: 8px;
}

.mb-4 {
    margin-bottom: 16px;
}

.mb-8 {
    margin-bottom: 32px;
}

.p-1 {
    padding: 4px;
}

.p-2 {
    padding: 8px;
}

.p-4 {
    padding: 8px;
}

.h-6 {
    height: 24px;
}

.h-10 {
    height: 40px;
}

.h-50 {
    height: 200px;
}

.w-10 {
    width: 40px;
}

.w-32 {
    width: 128px;
}

.object-contain {
    object-fit: contain;
}

.decoration-none {
    text-decoration: none;
}

.no-underline {
    text-decoration-line: none;
}

.rounded {
    border-radius: 8px;
}

.text-red {
    color: red;
}